<p id="notice"><%= notice %></p>

<p>
  <b>Account type:</b>
  <%= @account.class %>
</p>

<% if @account.respond_to? "login" %>
<p>
  <b>Login:</b>
  <%= @account.login %>
</p>
<% end %>

<% if @account.respond_to? "password" %>
<p>
  <b>Password:</b>
  <%= @account.password %>
</p>
<% end %>

<% if @account.respond_to? "oauth_token" %>
<p>
  <b>Oauth token:</b>
  <%= @account.oauth_token %>
</p>
<% end %>

<% if @account.respond_to? "oauth_secret" %>
<p>
  <b>Oauth secret:</b>
  <%= @account.oauth_secret %>
</p>
<% end %>

<% if @account.respond_to? "last_sync_time" %>
<p>
  <b>Last sync time:</b>
  <%= @account.last_sync_time %>
</p>
<% end %>

<%= link_to 'Edit', edit_hotmail_account_path(@account) %>
<%= link_to 'Back', :back %>
