<%= form_for(@account, :as => :phone_account, :url => phone_accounts_path) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <% [ 'Phone', 'Iphone', 'Android', 'Blackberry', 'WinMob' ].each do |account_type| %>
      <%= radio_button_tag :type, account_type + "Account", :type == account_type %>
      <%= account_type %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :last_sync_time %><br />
    <%= f.datetime_select :last_sync_time %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
