<h1>Listing accounts</h1>

<br/>

<h2>Email Accounts</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Login</th>
    <th>Password</th>
    <th>Oauth token</th>
    <th>Oauth secret</th>
    <th>Last sync time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allEmailAccounts.each do |account| %>
  <tr>
    <td><%= account.class if account.respond_to? "class" %></td>
    <td><%= account.login if account.respond_to? "login" %></td>
    <td><%= account.password if account.respond_to? "password" %></td>
    <td><%= account.oauth_token if account.respond_to? "oauth_token" %></td>
    <td><%= account.oauth_secret if account.respond_to? "oauth_secret" %></td>
    <td><%= account.last_sync_time if account.respond_to? "last_sync_time" %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Phone Accounts</h2>
<table>
	<tr>
		<th>Type</th>
		<th>Number</th>
		<th>Last sync time</th>
    <th></th>
    <th></th>
    <th></th>
	</tr>
<% @allPhoneAccounts.each do |account| %>
  <tr>
    <td><%= account.class if account.respond_to? "class" %></td>
    <td><%= account.phone_number if account.respond_to? "phone_number" %></td>
    <td><%= account.last_sync_time if account.respond_to? "last_sync_time" %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Social Networking Accounts</h2> 
<table>
	<tr>
		<th>Type</th>
		<th>Unique Id</th>
		<th>Oauth token</th>
		<th>Oauth secret</th>
		<th>Last sync time</th>
    <th></th>
    <th></th>
	</tr>
<% @allSocialAccounts.each do |account| %>
  <tr>
    <td><%= account.class if account.respond_to? "class" %></td>
    <td><%= account.unique_id if account.respond_to? "unique_id" %></td>
    <td><%= account.oauth_token if account.respond_to? "oauth_token" %></td>
    <td><%= account.oauth_secret if account.respond_to? "oauth_secret" %></td>
    <td><%= account.last_sync_time if account.respond_to? "last_sync_time" %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />

New Account Type: <%= select(:type, :type_val, AccountsController::TYPES, {}, {:id => "account_select", :onchange => "document.getElementById('new_account_link').href = (document.getElementById('account_select').value + '_accounts/new').toLowerCase();"}) %>
<%= link_to 'Click Me', new_facebook_account_path, {:id => "new_account_link"} %> 
