<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Account type</th>
    <th>Oauth token</th>
    <th>Oauth secret</th>
    <th>Last sync time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.login %></td>
    <td><%= account.password %></td>
    <td><%= account.type %></td>
    <td><%= account.oauth_token %></td>
    <td><%= account.oauth_secret %></td>
    <td><%= account.last_sync_time %></td>
  </tr>
<% end %>

</table>

<br />

<h2>Email Accounts</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	
<% if @gmailConnections %>
	<% @gmailConnections.contacts.each do |contact| %>
		<tr>
			<th><%= contact[0] %></th>
			<th><%= contact[1] %></th>
		</tr>
	<% end %>
<% end %>

<% if @yahooConnections %>
	<% @yahooConnections.contacts.each do |contact| %>
		<tr>
			<th><%= contact[0] %></th>
			<th><%= contact[1] %></th>
		</tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %> <br />
<%= link_to 'New Facebook Account', new_facebook_account_path %> <br />
<%= link_to 'New Twitter Account', new_twitter_account_path %> <br />
<%= link_to 'New LinkedIn Account', new_linked_in_account_path %> <br />
