<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Account type</th>
    <th>Oath token</th>
    <th>Last sync time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.login %></td>
    <td><%= account.password %></td>
    <td><%= account.type %></td>
    <td><%= account.oath_token %></td>
    <td><%= account.last_sync_time %></td>
  </tr>
<% end %>

</table>

<br />

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	
<% if @gmailConnections %>
	<% @gmailConnections.contacts.each do |contact| %>
		<tr>
			<th><%= contact[0] %></th>
			<th><%= contact[1] %></th>
		</tr>
	<% end %>
<% end %>

<% if @yahooConnections %>
	<% @yahooConnections.contacts.each do |contact| %>
		<tr>
			<th><%= contact[0] %></th>
			<th><%= contact[1] %></th>
		</tr>
	<% end %>
<% end %>

<br />

<%= link_to 'New Account', new_account_path %>
