<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @account.login %>
</p>

<p>
  <b>Password:</b>
  <%= @account.password %>
</p>

<p>
  <b>Account type:</b>
  <%= @account.type %>
</p>

<p>
  <b>Oath token:</b>
  <%= @account.oauth_token %>
</p>

<p>
  <b>Last sync time:</b>
  <%= @account.last_sync_time %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
